* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: fit-content;
}
.nav {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: rgb(22, 205, 22);
  color: white;
  align-items: center;
  position: fixed;
  z-index: 3;
}
.nav ul {
  display: flex;
  gap: 15px;
  font-weight: 500;
  align-items: center;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
}
li:hover {
  color: white;
}
li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}
li input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  /* margin-right: 0.5rem; */
}
li input:focus {
  outline-color: rgb(22, 205, 22);
  color: green;
}
.showItem {
  display: block;
}
.hideItem {
  display: none;
}
button {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  color: rgb(22, 205, 22);
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
}

a:hover {
  color: white;
}
.searchbar {
  background-color: white;
  border-radius: 5px;
}
.menu-fluid {
  position: absolute;
  top: -100rem;
  left: 0;
  width: 90%;
  transform: translateX(5%);
  padding: 10px;
  height: fit-content;
  background-color: rgb(22, 205, 22);
  border-radius: 10px;
  transition: 0.5s;
}
.menu-fluid li {
  text-align: center;
  width: 100%;
  height: fit-content;
  padding: 10px 5px;
  border-radius: 10px;
  transition: 0.5s;
  color: white;
}
.menu-fluid li:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 5px white;
}
/* from here the css of products container starts */
.products-container {
  /* background-color: red; */
  margin: 0rem auto;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-card {
  width: 250px;
  margin-top: 1rem;
  /* background-color: rgb(22, 205, 22); */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(22, 205, 22);
}
.product-card:hover {
  box-shadow: 0px 0px 10px rgb(22, 205, 22);
}
.Pimg img {
  width: 100%;
  border-radius: 10px;
}
.card-footer {
  padding: 0.5rem;
}
.card-footer div {
  /* font-size: 0.9rem;
  opacity: 0.8; */
}
.product-name {
  font-weight: bold;
  opacity: 1;
  font-size: 1.2rem;
}
.product-details {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.product-cat {
  opacity: 0.9;

  font-size: 0.9rem;
  width: fit-content;
  padding: 0.4rem;
  border-radius: 0.5rem;
  /* color: white; */
}
.veg {
  color: rgb(3, 77, 3);
  background-color: rgb(147, 223, 147);
}
.nonVeg {
  color: rgb(150, 13, 5);
  background-color: rgb(230, 152, 152);
}
.product-price {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.addCartBtn {
  width: 100%;
  color: white;
  background-color: rgb(22, 205, 22);
  padding: 0.5rem 1rem;
}
.addCartBtn:hover {
  box-shadow: 0px 0px 10px rgb(22, 205, 22);
}
.heading-product-container {
  margin: auto;
  margin-top: 4.5rem;
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(22, 205, 22, 0.5);
}
button:hover {
  background-color: rgb(22, 205, 22);
  border: 1px solid white;
  color: white;
  box-shadow: 0px 0px 5px white;
  cursor: pointer;
}
#UserRegistration {
  width: 55%;
  min-width: 300px;
  height: fit-content;
  min-height: 300px;
  margin: auto;
  margin-top: 6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  color: rgb(22, 205, 22);
  box-shadow: 0px 0px 10px rgb(22, 205, 22);
}
#UserRegistration h1 {
  text-decoration: underline;
  line-height: 20px;
  margin: 1rem 0px;
  font-size: 1.5rem;
}
#UserRegistration form {
  width: 90%;
  height: fit-content;
  /* background-color: blue; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto;
}
#UserRegistration input {
  margin: 1rem 0px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 10px rgb(22, 205, 22);
}
#UserRegistration input:focus {
  border: 1px solid rgb(22, 205, 22);
  outline: none;
}
.btns a {
  color: white;

  text-decoration: none;
}
.btns a:hover {
  color: white;
}

.btns {
  display: flex;
  justify-content: space-between;
  /* gap: 2.5rem; */

  flex-wrap: wrap;
}
.btn {
  width: 30%;
  background-color: rgb(22, 205, 22);
  color: white;
}
.btn:hover {
  box-shadow: 0px 0px 5px rgb(22, 205, 22);
}
.userLogin {
  max-width: 50%;
}
